.cities {
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;

  &__toggle {
    font-size: 130%;
    cursor: pointer;
  }

  &__hidden {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: grey;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    transform: translateY(30px);
    animation: mover 2s;

    & h1 {
      font-size: 130%;
      cursor: pointer;
      z-index: 1000;
    }

    &__cities {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      & h1 {
        width: 100px;
      }

      & p {
        cursor: pointer;
      }
    }
  }
}

@keyframes mover {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(30px);
  }
}
