.search {
  text-align: center;
  padding: 1rem;

  &__input {
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    color: white;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: white;
    }
  }
}
